<h1>お題の編集</h1>

<.form let={f} for={@editor.theme_changeset}
  phx-submit="save_edit_theme"
  phx-change="sync_edit_theme">

  <%= label f, :theme, "お題" %>
  <%= text_input f, :theme %>
  <%= error_tag f, :theme %>

  <%= label f, :description, "説明" %>
  <%= textarea f, :description, rows: 5  %>
  <%= error_tag f, :description %>

  <button type="submit">更新</button>
</.form>

<p phx-click="toggle_summary">←お題一覧に戻る</p>
<p phx-click="toggle_show" phx-value-id={@editor.theme.id}>←お題詳細に戻る</p>