<div>
  <ul>
    <li>
      <%= link to: Routes.admin_account_editor_path(@socket, :index) do %>
        <span>アカウント情報</span>
      <% end %>
    </li>
    <li>
      登録者一覧
    </li>
    <li>
      <%= link to: Routes.admin_theme_editor_path(@socket, :index) do %>
        <span>お題一覧</span>
      <% end %>
    </li>
  </ul>
</div>

<%= 
  case @editor.mode do 
    :summary -> render "summary.html", editor: @editor
  end
%>
