<h2><%= @editor.display_char %></h2>

<p>あなたの入力：<%= @editor.input_char %></p>

<p>ミスした回数：<%= @editor.failure_count %> 回</p>

<div 
  phx-window-blur="page-inacive"
  phx-window-focus="page-active"
  phx-window-keyup="toggle_input_key">
</div>