<h2 class="text-xl text-center font-bold">ゲームモードを選択してください</h2>
<button phx-click="toggle_select_mode" phx-value-mode="training">
  練習モード
</button>

<button phx-click="toggle_select_mode" phx-value-mode="game">
  ゲームモード
</button>