<ul class="text-xl font-bold underline text-primary">
  <li>
    <%= link to: Routes.core_account_session_path(@conn, :new) do %>
      <span>ログイン</span>
    <% end %>
  </li>
  <li>
    <%= link to: Routes.core_account_registration_path(@conn, :new) do %>
      <span>アカウント作成</span>
    <% end %>
  </li>
  <li>
    <%= link to: Routes.admin_account_session_path(@conn, :new) do %>
      <span>管理者のログインはこちら</span>
    <% end %>
  </li>
</ul>
