<ul>
  <li>
    <%= link to: Routes.core_account_session_path(@conn, :new) do %>
      <span>ログイン</span>
    <% end %>
  </li>
  <li>
    <%= link to: Routes.core_account_registration_path(@conn, :new) do %>
      <span>アカウント作成</span>
    <% end %>
  </li>
</ul>
